# [Mantenemos lo que ya tenías]
.vs/
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries/*
Plugins/**/Binaries/*
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset
Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*

# --- TUS REGLAS PERSONALIZADAS ---

# Ignorar la carpeta de mapas de prueba que "te la pela"
# IMPORTANTE: Asegúrate de que la ruta sea exactamente así desde la raíz
Content/alienassets/maps/
Content/AlienAssets/Maps/

# Si en el futuro quieres ignorar otra carpeta pesada, añádela así:
# Content/NombreDeLaCarpeta/